NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SITE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=re_xxxxxxxxx
CONTACT_TO_EMAIL=nicolasparis.dg@gmail.com
CONTACT_FROM_EMAIL=Nicolas Paris <onboarding@resend.dev>
